:root {
    --content-margin: 25px; /* Define a new variable for the margin */
    --project-box-margin: 20px; /* Define a new variable for the margin */
    --active-color: #ff7833;
    --box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    --subtitle-max-size: 2.0rem; /* Current font size for .subtitle */
    --subtitle-min-size: 0.67rem;
    --text-max-size: 1.2rem; /* Current font size for .text */
    --text-min-size: 0.4rem;
    --highlight-max-size: 1.2rem; /* Current font size for .highlight */
    --highlight-min-size: 0.4rem;
    --top-bar-title-max-size: 2.5rem; /* Current font size for .top-bar h1 */
    --top-bar-title-min-size: 0.93rem;
    --max-width: 1400px; /* Maximum window width */
    --min-width: 800px; /* Minimum window width */
}

/* Set the default font to HelveticaNeue for the left-bar */
.left-bar, .left-bar nav ul li a, .language-selector {
    font-family: 'HelveticaNeue', sans-serif;
}

/* Left Navigation Bar */
.left-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 235px;
    height: 100%;
    background: #121212;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 0.9rem;
    z-index: 1002; /* Ensure it is above the top bar */
    box-shadow: var(--box-shadow); /* Use the CSS variable */
}

.left-bar .profile {
    text-align: left;
    margin-bottom: 10px; /* Reduced space between name and message */
    width: 100%;
}

.left-bar .profile-pic {
    width: 200px; /* Twice the original size */
    height: 200px; /* Twice the original size */
    border-radius: 50%;
    margin-bottom: 10px;
}

.left-bar h2 {
    margin: 0;
    text-align: left;
    font-size: 1.8rem; /* 20% bigger */
}

.left-bar #profile-message {
    font-weight: bold;
    font-size: 1.3rem;
    text-align: left;
    margin-top: 5px; /* Reduced space between name and message */
}

.left-bar nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.left-bar nav ul li {
    width: 100%;
}

.left-bar nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2rem;
    display: block;
    padding: 10px;
    transition: color 0.3s ease;
    text-align: left;
}

.left-bar nav ul li a:hover,
.left-bar nav ul li a.active {
    color: var(--active-color); /* Use the CSS variable */
}

.social-icons {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.social-icons a {
    text-decoration: none;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.social-icons a[title]:hover::after {
    content: attr(title);
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    top: 30px;
    white-space: nowrap;
    z-index: 10;
}

.language-selector {
    margin-top: auto;
    margin-bottom: 20px; /* Ensure it is visible */
    background: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 5px;
}

.language-selector span.active {
    color: var(--active-color); /* Use the CSS variable */
}

/* Set the default font to HelveticaNeue for the entire body */
body {
    font-family: 'HelveticaNeue', sans-serif;
    margin-left: 282.8px; /* Adjust margin to ensure content is not occluded by the left bar */
    padding-top: 60px; /* Adjust padding to account for the fixed top bar */
    overflow-x: hidden; /* Prevent horizontal overflow */
    min-width: var(--min-width); /* Set a minimum width to prevent content from collapsing */
}

header, .hero, .placeholder, .section, footer {
    padding: 20px; /* Add padding for better readability */
}

/* Top Bar */
.top-bar {
    width: calc(100% - 225px); /* Full width minus the left bar width */
    background-color: var(--active-color); /* Use the CSS variable */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 225px; /* Position to the right of the left bar */
    z-index: 1001; /* Ensure it is below the left bar */
    box-shadow: var(--box-shadow); /* Use the CSS variable */
}

.top-bar h1 {
    font-size: var(--top-bar-title-max-size); /* Use the variable */
    font-weight: bold;
    margin: 0;
}

/* Adaptive content row */
.adaptive-content-row {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the start */
    margin: 60px 10px; /* Add vertical margin between rows */
    width: 80vw; /* Set the width of the content row */
    height: auto; /* Allow height to be adaptive */
    clear: both; /* Ensure one row starts after the other */
}

/* Adaptive content box */
.adaptive-content-box {
    background: white;
    border-radius: 10px;
    box-shadow: var(--box-shadow); /* Use the CSS variable */
    padding: 20px; /* Ensure equal padding on all sides */
    width: 78%; /* Set the width to 80% of the content row */
    margin-left: 1vw; /* Add space between the box and the image placeholder */
    margin-right: 1vw; /* Add space between the box and the image placeholder */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto; /* Allow height to be adaptive */
}

/* Content Rows */
.content-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 20px; /* Add vertical margin between rows */
    width: 80vw; /* Set the width of the content row */
    height: auto; /* Allow height to be adaptive */
}

/* Content Boxes */
.content-box {
    background: white;
    border-radius: 10px;
    box-shadow: var(--box-shadow); /* Use the CSS variable */
    padding: var(--content-margin); /* Use the new margin variable */
    width: 80%; /* Set the width to 80% of the content row */
    height: 100%; /* Set the height to 100% of the content row */
    margin-left: 1vw; /* Add space between the box and the image placeholder */
    margin-right: 1vw; /* Add space between the box and the image placeholder */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Project Rows */
.project-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--project-box-margin); /* Set the margin for the rest */
    margin-left: calc(1.5*var(--project-box-margin)); /* Set the margin for the rest */
    margin-bottom: 0px; /* Set the margin for the rest */
    width: 80vw; /* Set the width of the content row */
    height: auto; /* Allow height to be adaptive */
}

.project-row:first-of-type {
    margin-top: calc(10 * var(--project-box-margin)); /* Increase the margin for the first appearance */
}

/* Project Boxes */
.project-box {
    background: white;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    padding: var(--content-margin);
    width: 40vw; /* Set the width to 40% of the window width */
    height: 300px; /* Allow height to be adaptive */
    margin: 0px calc(0.5*var(--project-box-margin)); /* Set both vertical and horizontal separation to 3% of the window width */
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.project-box img {
    width: 350px; /* Define the size of the image */
    height: 220px; /* Make the image approximately square */
    object-fit: cover;
    margin: 0;
}

.project-box:hover {
    background-color: #2471a3;
    color: white; /* Change text color to white on hover */
    cursor: pointer;
}

.project-box .subtitle {
    color: var(--active-color);
    font-weight: bold;
    font-size: var(--subtitle-max-size);
    margin-bottom: var(--content-margin);
    transition: color 0.5s ease; /* Add transition to subtitle color */
}

.project-box .text {
    color: black;
    font-weight: normal;
    font-size: var(--text-max-size);
    display: inline;
    padding-top: var(--content-margin);
    margin-bottom: 0px;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.subtitle {
    color: var(--active-color);
    font-weight: bold;
    font-size: var(--subtitle-max-size); /* Use the variable */
    margin-top: 0px; /* Use the new margin variable */
    margin-bottom: calc(-1.0*var(--content-margin)); /* Use the new margin variable */
}

.legend {
    color: black;
    font-weight: bold;
    font-size: 0.8rem;
    flex-grow: 1;
    display: flex;
    align-items: center; /* Center the text vertically */
    margin-top: var(--content-margin); /* Use the new margin variable */
    margin-bottom: 0px; /* Use the new margin variable */
}

.text {
    color: black;
    font-weight: normal;
    font-size: var(--text-max-size); /* Use the variable */
    display: inline; /* Change from flex to inline */
    padding-top: var(--content-margin); /* Use the new margin variable */
    margin-bottom: 0px; /* Use the new margin variable */
}

.highlight {
    color: var(--active-color);
    font-weight: bold;
    text-decoration: none;
    font-size: var(--highlight-max-size); /* Use the variable */
}

.publication-list {
    list-style-type: none;
    padding: 10;
}

.publication-list li {
    margin-bottom: 20px;
    position: relative;
}

.publication-list a {
    color: var(--active-color);
    text-decoration: none;
}

.publication-list .metrics {
    position: absolute;
    right: 0;
    top: 75%; /* Position below the line */
    text-align: right;
    font-size: 0.8rem;
    color: gray;
    margin-top: 5px; /* Add extra vertical space */
}

/* Image Placeholders */
.image-placeholder {
    width: 18%; /* Set the width to 20% of the content row */
    height: 100%; /* Set the height to 100% of the content row */
    box-shadow: var(--box-shadow); /* Use the CSS variable */
    display: flex;
    align-items: center; /* Center the image vertically */
    justify-content: center; /* Center the image horizontally */
}

.image-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0; /* Ensure squared corners */
}

/* Row */
.row {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Adjust as needed */
}

.row .text {
    flex: 1;
}

.row .image {
    flex: 0 0 33%;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.row .image img {
    max-width: 100%;
    height: auto;
}

/* Transition effect for page change */
.page-transition {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    transition: left 0.5s ease-in-out;
}

.page-transition.active {
    left: 0;
}

/* Media query for responsive font sizes */
@media (max-width: var(--max-width)) {
    .subtitle {
        font-size: calc(var(--subtitle-max-size) * (100vw - var(--min-width)) / (var(--max-width) - var(--min-width)) + var(--subtitle-min-size) * (1 - (100vw - var(--min-width)) / (var(--max-width) - var(--min-width))));
    }
    .text {
        font-size: calc(var(--text-max-size) * (100vw - var(--min-width)) / (var(--max-width) - var(--min-width)) + var(--text-min-size) * (1 - (100vw - var(--min-width)) / (var(--max-width) - var(--min-width))));
    }
    .highlight {
        font-size: calc(var(--highlight-max-size) * (100vw - var(--min-width)) / (var(--max-width) - var(--min-width)) + var(--highlight-min-size) * (1 - (100vw - var(--min-width)) / (var(--max-width) - var(--min-width))));
    }
    .top-bar h1 {
        font-size: calc(var(--top-bar-title-max-size) * (100vw - var(--min-width)) / (var(--max-width) - var(--min-width)) + var(--top-bar-title-min-size) * (1 - (100vw - var(--min-width)) / (var(--max-width) - var(--min-width))));
    }
}